<ion-header>
	<ion-toolbar mode="ios">
		<ion-buttons slot="start" class="ion-padding-start" (click)="cancelUpdate()">
			<ion-icon slot="icon-only" name="close" ></ion-icon>
		</ion-buttons>
		<ion-title>Edit Profile</ion-title>
		<ion-buttons slot="end" (click)="updateDetails()" class="ion-padding-end">
        	<ion-icon slot="icon-only" name="checkmark" ></ion-icon>
      	</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content padding>

	<app-loading *ngIf="busy"></app-loading>

	<div *ngIf="!busy">

		<input type="file" #fileBtn class="filebtn" (change)="uploadPic($event)" />

		<ion-avatar class="img-profile-pic ">
			<ion-img class="profile-pic" (click)="updateProfilePic()" src=" ../../assets/shape.jpg "></ion-img>
		</ion-avatar>


		<div class="profile-info">
			
			<span class="text-muted">Profile Settings</span>
			<ion-row>
				<ion-col size="3" class="align-self-end">	
					<ion-label>Username: </ion-label>
				</ion-col>
				<ion-col size="7" offset="2">
					<ion-input [(ngModel)]="username" class="inp" placeholder="username"></ion-input>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col size="3">	
					<ion-label>Biography: </ion-label>
				</ion-col>
				<ion-col size="7" offset="2">
					<ion-input [(ngModel)]="biography" class="inp" placeholder="Biography"></ion-input>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col size="3">	
					<ion-label>URL: </ion-label>
				</ion-col>
				<ion-col size="7" offset="2">
					<ion-input [(ngModel)]="link" class="inp" placeholder="Page URL"></ion-input>
				</ion-col>
			</ion-row>
			<span class="text-muted">Change Password</span>
			<ion-row>
				<ion-col size="3">	
					<ion-label>New Password: </ion-label>
				</ion-col>
				<ion-col size="7" offset="2">
					<ion-input [(ngModel)]="newpassword" class="inp" placeholder="New Password"></ion-input>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col size="3">	
					<ion-label>Password: </ion-label>
				</ion-col>
				<ion-col size="7" offset="2">
					<ion-input [(ngModel)]="password" class="inp" placeholder="Password"></ion-input>
				</ion-col>
			</ion-row>

			
		</div>

	</div>

</ion-content>