@font-face {
    font-family: "Arterize";
    src: url('../../assets/fonts/Arterize.ttf');
  }
  
  .brand-name{
    text-align: center;
    font-family: 'Arterize';
    font-size: 40px;
    font-weight: normal;
  
  }