
<ion-content class="logingPage" padding>
	
	<div class="logForm">	

		<h2 class="logTitle">Arterize</h2>
					
		<ion-input type="text" [(ngModel)]="username" class="inp" placeholder="Username" padding></ion-input>
		
		<ion-input type="password" [(ngModel)]="password" class="inp" placeholder="Password" padding></ion-input>
			
		<ion-button fill="solid" expand="block" color="dark" (click)="login()" margin-top>Login</ion-button>

		<div class="regDiv">
			<ion-label>You don't have any account yet? <a href="register">Register Now!</a></ion-label>
		</div>
	</div>	
</ion-content>