<ion-header>
  <ion-toolbar>
	<ion-title>{{ username }}</ion-title>
		<ion-buttons slot="end" routerLink="/tabs/edit-profile">
        	<ion-icon slot="icon-only" name="settings"></ion-icon>
      	</ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

<!-- <app-loading *ngIf="!posts"></app-loading> -->

	<div id="profile-info" *ngIf="username">
		<ion-grid>
			<ion-row>
				<ion-col size="12" class="user-image">
					<ion-img class="userImgProf" src="https://ucarecdn.com/{{ profilePic }}/-/scale_crop/200x200/center/"></ion-img>
				</ion-col>
				<ion-col size="12">
					<ion-button class="followBtn" shape="round" color="primary" >Follow</ion-button> 
				</ion-col>
			</ion-row>
		</ion-grid>
	</div>

	<div class="userStats">
		<ion-row>
			<ion-col size="4">
				<span>3</span><br>
				<span class="text-muted">posts</span>
			</ion-col>
			<ion-col size="4">
				<span>112 k</span><br>
				<span class="text-muted">followers</span>
			</ion-col>
			<ion-col size="4">
				<span>23</span><br>
				<span class="text-muted">following</span>
			</ion-col>
		</ion-row>
	</div>
	

	<div id="images" *ngIf="posts">
		<div class="image" *ngFor="let post of posts">
			<img (click)="goTo(post)" class="main-image" src="https://ucarecdn.com/{{ post }}/-/scale_crop/200x200/center/" />
		</div>
	</div>

</ion-content>
