<ion-header>
  <ion-toolbar mode="ios">
    <ion-searchbar animated mode="ios" show-cancel-button="focus" [(ngModel)]="searchterm" (ionChange)="search($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-item *ngFor="let user of users" (click)="userProf($event)">
    <ion-avatar>
      <img src="https://ucarecdn.com/{{ user.profilePic }}" alt="">
    </ion-avatar>
    <ion-label id="{{user.username}}">
      
          {{user.username}}

    </ion-label>
  </ion-item>

</ion-content>
